.centered-table {
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
}
.table {
    border: 2px solid #dee2e6;
}

.action-icon {
    margin-right: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 2px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.action-icon:hover {
    color: #0056b3;
}

.action-icon.not-allowed {
    cursor: not-allowed;
    color: black;
}

.action-icon.not-allowed:hover {
    color: black;
}

.black-and-white {
    color: black;
}

.breadcrumb-border {
    border: 3px solid #dee2e6;
    border-radius: 15px;
}