@page "/"
@using tzr.Common.Models
@using tzr.Common.Enums
@inject IJSRuntime JsRuntime
@inject HttpClient Http


<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <div class="card p-3 mb-3 breadcrumb-border">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 h4">
                        <li class="breadcrumb-item text-primary">
                            <a style="cursor: pointer;" @onclick="() => NavigateToPath(null)">root</a>
                        </li>
                        @foreach (var part in _currentPath.Split('/'))
                        {
                            if (!string.IsNullOrEmpty(part))
                            {
                                <li class="breadcrumb-item text-primary">
                                    <a style="cursor: pointer;" @onclick="() => NavigateToPath(part)">@part</a>
                                </li>
                            }
                        }
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


@if (_fileEntries == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-striped table-hover centered-table">
        <thead>
        <tr>
            <th></th>
            <th style="cursor: pointer;" @onclick="ApplyNameSorting">
                Name
                @if (_sortColumn == "Name")
                {
                    <span class="oi @(_sortDescending ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                }
            </th>
            <th>Permissions</th>
            <th style="cursor: pointer;" @onclick="ApplyLastModifiedSorting">
                LastModified
                @if (_sortColumn == "LastModified")
                {
                    <span class="oi @(_sortDescending ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                }
            </th>
            <th style="cursor: pointer;" @onclick="ApplySizeSorting">
                Size
                @if (_sortColumn == "Size")
                {
                    <span class="oi @(_sortDescending ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                }
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (!string.IsNullOrEmpty(_currentPath))
        {
            <tr>
                <td>
                    <span class="oi oi-action-undo"></span>
                </td>
                <td>
                    <div style="cursor: pointer;" @onclick="NavigateUp">..</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var entry in SortedFileEntries)
        {
            <tr>
                <td>
                    <span class="@(entry.Type == FileSystemEntryType.Directory ? "oi oi-folder" : "oi oi-document")" title="@(entry.Type == FileSystemEntryType.Directory ? "Directory" : "File")"></span>
                </td>
                <td>
                    @if (entry.Type == FileSystemEntryType.Directory)
                    {
                        <div style="cursor: pointer;" @onclick="() => NavigateToFolder(entry.Name)">@entry.Name</div>
                    }
                    else
                    {
                        <div>
                            <a href="@($"{_apiPath}/download?path={Uri.EscapeDataString((_currentPath != "" ? _currentPath + "/" : "") + entry.Name)}&open=true")" target="_blank">@entry.Name</a>
                        </div>
                    }
                </td>
                <td>
                    <div tabindex="0" class="d-inline-block" data-toggle="tooltip" title="@GetDetailedPermissions(entry.Permissions)">
                        @GetUnixPermissionString(entry.Permissions)
                    </div>
                </td>
                <td>@entry.LastModified.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@GetHumanReadableSize(entry.Size)</td>
                <td>
                    @if (entry.Type == FileSystemEntryType.Directory)
                    {
                        <span class="oi oi-cloud-download not-allowed action-icon black-and-white" title="You can't download a directory."></span>
                    }
                    else
                    {
                        <a href="@($"{_apiPath}/download?path={Uri.EscapeDataString((_currentPath != "" ? _currentPath + "/" : "") + entry.Name)}")" download>
                            <span class="oi oi-cloud-download action-icon" title="Download file."></span>
                        </a>
                    }
                    <span class="oi oi-pencil action-icon" title="Rename." @onclick="() => Rename(entry.Name)"></span>
                    @if (entry.Type == FileSystemEntryType.Directory && entry.IsDirectoryEmpty != true)
                    {
                        <span class="oi oi-trash not-allowed action-icon black-and-white" title="You can't delete a non-empty directory."></span>
                    }
                    else
                    {
                        <a class="btn-icon" @onclick="() => ConfirmDelete(entry.Name)" title="Delete.">
                            <span class="oi oi-trash action-icon"></span>
                        </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private const string _apiPath = "http://localhost:5085/api/drive";
    private string _currentPath = "";
    private List<FileSystemEntryModel> _fileEntries;
    private string _sortColumn = "Name";
    private bool _sortDescending;
    private Func<FileSystemEntryModel, object> _sortFunc = x => x.Name;


    protected override async Task OnInitializedAsync()
    {
        await GetFileEntries();
    }

    private async Task GetFileEntries()
    {
        var url = $"{_apiPath}?path={_currentPath}";
        _fileEntries = await Http.GetFromJsonAsync<List<FileSystemEntryModel>>(url);
        StateHasChanged();
    }

    private static string GetDetailedPermissions(IEnumerable<string> permissions)
    {
        return string.Join(", ", permissions.Reverse());
    }

    private void ApplySorting(string column, Func<FileSystemEntryModel, object> sortFunction)
    {
        if (_sortColumn == column)
        {
            _sortDescending = !_sortDescending;
        }
        else
        {
            _sortColumn = column;
            _sortDescending = false;
        }

        _sortFunc = sortFunction;
    }


    private async Task NavigateToFolder(string folderName)
    {
        _currentPath = string.IsNullOrEmpty(_currentPath) ? folderName : $"{_currentPath}/{folderName}";

        await GetFileEntries();
    }


    private static string GetHumanReadableSize(long? sizeInBits)
    {
        if (sizeInBits == null)
            return "-";

        const double byteSize = 8.0;
        var sizeInBytes = (double)sizeInBits / byteSize;

        string[] units = { "B", "KB", "MB", "GB", "TB" };
        var unitIndex = 0;

        while (sizeInBytes >= 1024 && unitIndex < units.Length - 1)
        {
            sizeInBytes /= 1024;
            unitIndex++;
        }

        return $"{Math.Round(sizeInBytes, 2)} {units[unitIndex]}";
    }

    private async Task NavigateUp()
    {
        var lastIndex = _currentPath.LastIndexOf('/');
        _currentPath = lastIndex > 0 ? _currentPath[..lastIndex] : "";

        await GetFileEntries();
    }

    private async Task Rename(string oldName)
    {
        var newName = await JsRuntime.InvokeAsync<string>("prompt", "Enter new name", oldName);
        if (!string.IsNullOrEmpty(newName))
        {
            var renameModel = new RenameOrMoveModel
            {
                OldPath = _currentPath != "" ? _currentPath + "/" + oldName : oldName,
                NewPath = _currentPath != "" ? _currentPath + "/" + newName : newName
            };
            var httpResponseMessage = await Http.PostAsJsonAsync($"{_apiPath}/rename-or-move", renameModel);
            if (httpResponseMessage.IsSuccessStatusCode)
            {
                await GetFileEntries();
            }
        }
    }

    private async Task ConfirmDelete(string entryName)
    {
        var confirmation = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {entryName}?");
        if (confirmation)
        {
            await Delete(entryName);
        }
    }

    private async Task Delete(string entryName)
    {
        var url = $"{_apiPath}?path={Uri.EscapeDataString((_currentPath != "" ? _currentPath + "/" : "") + entryName)}";
        var response = await Http.DeleteAsync(url);

        if (response.IsSuccessStatusCode)
        {
            await GetFileEntries();
        }
        else
        {
            var message = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Error deleting file: {message}");
        }
    }
    
    private static string GetUnixPermissionString(IEnumerable<string> permissions)
    {
        var permissionDict = new Dictionary<string, (char, int)>
        {
            { "UserRead",     ('r', 0) },
            { "UserWrite",    ('w', 1) },
            { "UserExecute",  ('x', 2) },
            { "GroupRead",    ('r', 3) },
            { "GroupWrite",   ('w', 4) },
            { "GroupExecute", ('x', 5) },
            { "OtherRead",    ('r', 6) },
            { "OtherWrite",   ('w', 7) },
            { "OtherExecute", ('x', 8) }
        };

        var permissionChars = new char[9] { '-', '-', '-', '-', '-', '-', '-', '-', '-' };

        foreach (var permission in permissions)
        {
            if (permissionDict.TryGetValue(permission, out var value))
            {
                permissionChars[value.Item2] = value.Item1;
            }
        }

        return new string(permissionChars);
    }

    private async Task NavigateToPath(string pathPart)
    {
        pathPart ??= "";
    
        var index = _currentPath.IndexOf(pathPart);
        _currentPath = _currentPath[..(index + pathPart.Length)];

        await GetFileEntries();
    }

    private IEnumerable<FileSystemEntryModel> SortedFileEntries => _sortDescending
        ? _fileEntries.OrderByDescending(_sortFunc)
        : _fileEntries.OrderBy(_sortFunc);

    private void ApplyNameSorting()
    {
        ApplySorting("Name", x => x.Name);
    }

    private void ApplyLastModifiedSorting()
    {
        ApplySorting("LastModified", x => x.LastModified);
    }

    private void ApplySizeSorting()
    {
        ApplySorting("Size", x => x.Size.HasValue ? x.Size.Value : 0);
    }
}